[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
colour = "*"
matplotlib = "*"
noise = "*"
scipy = "*"
pycairo = "*"
tensorflow = "*"
python-igraph = "*"
numba = "*"

[requires]
python_version = "3.8.6"
