doctype html
html
    head
        title glimpse: population sim
        link(rel='stylesheet',href='css/simulate.css')
        link(rel='stylesheet',href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css")
        script(src='https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js')
        script(src='js/simulate.js')
        script(id='population-tpl',type='text/template')
            h2 <%= name %>
            p Location: (<%= x %>, <%= y %>)
            p Population: <%= population %>, Health: <%= health %>
            h3 Population
            div(class='population-chart ct-chart ct-major-eleventh')
            h3 Health
            div(class='health-chart ct-chart ct-major-eleventh')
    body
        <h1><span id="popcount">--</span> living populations</h1>
        main(id='poplist')
