<!doctype html>

<html>
    <head>
        <title>World viewer</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/static/style.css">

        <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script> -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    </head>
    <body>
        <div id="app">
            <main>
                <!-- Display the map-->
                <div v-if="map_svg" class="map" v-html="map_svg" ref="map"></div>
                <div v-if="!map_svg" class="map"></div>

                <!-- Display the details pane -->
                <div class="details" v-if="world_id">
                    <h2 @click="() => highlight()">World ID: {{ world_id }}</h2>

                    <ul>
                        <li>Cities</li>
                        <ul>
                            <li v-for="city in cities" @click="() => highlight(city)">{{ city.name }}</li>
                        </ul>
                        <li>Lakes</li>
                        <ul>
                            <li v-for="lake in lakes">{{ lake.name }}</li>
                        </ul>
                        <li>Mountains</li>
                        <ul>
                            <li v-for="mountain in mountains">{{ mountain.name }}</li>
                        </ul>
                    </ul>
                </div>

                <div class="details" v-if="!world_id">
                    <h2>Loading world...</h2>
                </div>
            </main>
            <footer>
                <button @click="() => next_map_idx()">Next</button>
            </footer>
        </div>

    </body>
    <script src="/static/app.js"></script>
</html>